.flexContainer {
  display: flex;
}

.flexChild {
  flex: 1;
}

.imageContainer {
  height: 70vh;
}

.image {
  height: 100%;
  width: 100%;
}

.contactContainer {
  margin-top: 100px;
  width: 60%;
}

.input {
  background-color: #fff !important;
}
